body{
    font-family: 'Open Sans', sans-serif;
}
.e-head{
    width: 80%;
    height: 400px;
    background-image: url("heat-wave.jpeg");
    background-size: cover;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 130px;
    
}
.first-div{
    margin-top: 40px;
    width: 100%;
    height: 400px;
    /* background-color:rgb(209, 175, 111) ; */
}
.fd-1{
    position: relative;
    height: 100%;
    width:40%;
    background-color: rgb(247, 129, 74);
    margin-left: 50px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    float: left;
}
.fd-1 p,h3{
    margin-left: 15px;
    font-weight: bolder;
    /* font-size: 16px; */
}
.fd-1 button{
    border: none;
    background-color: rgb(255, 81, 0);
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    cursor: pointer;
    margin-top: 0px;
}
.fd-1 button:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.fd-2 {
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: 30px;
    background-color: yellow;
    float: left;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font-size: 19px;
    font-weight: bold;
}
#dp{
    font-size: 30px;
    font-weight: bold;
    color: red;
}
.s-div{
    width:96%;
    height: 930px;
    background-color: rgb(128, 159, 255);
    margin-top: 30px;
    margin-left: 30px;
}
.sd-1,.sd-2,.sd-3{
    position: relative;
    width: 32%;
    height: 100%;
    background-color: sandybrown;
    margin-left: 17px;
    float: left;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sd-1 img,.sd-2 img,.sd-3 img{
    width:300px;
    height: 300px;
    margin-left: 10px;
}
.safety-gif{
    position: relative;
    width:100%;
    height:400px;
    background-color: springgreen;
}
.sg-intro{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    position: relative;
    width:100%;
    height: 60px;
    background-color: turquoise;
    margin-bottom: 5px;
}
.sg-1,.sg-2,.sg-3,.sg-4{
position: relative;
width: 24%;
height: 320px;
float: left;
margin-left: 5px;
}
.sg-1 img,.sg-2 img,.sg-3 img,.sg-4 img{
    width: 320px;
    height: 310px;
}
.eq-b{
    position: relative;
    width: 100%;
    height: 600px;
    /* background-color: rgb(255, 81, 0); */
    margin-top: 10px;
}
.eq-b1{
    position: relative;
    width:70%;
    height: 100%;
    background-color: rgb(219, 88, 88);
    float: left;
    font-size: 22px;
    color: yellow;
    margin-left: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.eq-b2{
    position: relative;
    width:20%;
    height: 100%;
    float: left;
    font-size: 37px;
    text-align: center;
    margin-left: 50px;
    background-color: rgb(255, 81, 0);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.th-div{
    position: relative;
    width:75%;
    height: 500px;
    margin-left: 150px;
    margin-top: 10px;
    background-color: violet;
}
.th-div iframe{
    position: relative;
    width:100%;
    height: 100%;
    border: 0;
}
.alert-oly,.live-tor-oly{
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.452);
    visibility: hidden;
}
.alert-iframe,.live-tor-iframe{
    position: relative;
    height: 500px;
    width:900px;
    margin-left: 200px;
    margin-top: 50px;
    visibility: hidden;
    z-index: 1;
}
.alert-iframe iframe,.live-tor-oly iframe{
    position: relative;
    height:500px;
    width:900px;
    visibility: hidden;
    border: none;
}
.f-div{
    position: relative;
    width: 30%;
    height: 130px;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    background-color: rgb(255, 255, 0);
   
    margin-left: 400px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.f-div button{
    cursor: pointer;
}
#f-iframe{
    border: 0;
    background-color: yellow;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    height: 100%;

}
.sx-div{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: rgb(110, 214, 255); */
}
.sx-1{
    position: relative;
    width: 60%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(163, 22, 22);
    float: left;
    background-color: rgb(110, 214, 255)
}
.sx-2{
    position: relative;
    width: 37%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 174, 255);
    /* background-color: rgb(163, 163, 255); */
    margin-left: 20px;
    float: left;
}
.sx-2-1{
position: relative;
width: 100%;
height: 300px;
float: left;
margin-top: 50px;
margin-bottom: 10px;
}
.sx-2-1 h3{
    margin-bottom: -60px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(14, 0, 78);
    background-color: rgba(255, 0, 0, 0.219);
}
.sx-2-2{
    position: relative;
    width: 100%;
    height: 300px;
    float: left;
    margin-top: 50px;
}
.sx-2-1 iframe,.sx-2-2 iframe{
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    margin-top: 80px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sx-2-3 {
    position: relative;
    width: 100%;
    height: 150px;
    border: 0;
    margin-top:800px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: rgb(72, 255, 133);
    text-align:center;
}
.sx-2-3 button{
    border: none;
    color:rgb(17, 0, 116);
    background-color: rgb(255, 128, 23);
    font-size: 20px;
    font-weight: bold;
    width: 75%;
    margin-top: 10px;
    margin-left: 40px;
    cursor: pointer;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  
}
.cl-div{
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.452);
    visibility: hidden;
}
.cl-iframe{
    position: relative;
    height: 600px;
    width:900px;
    margin-left: 200px;
    margin-top: 50px;
    visibility: hidden;
    z-index: 1;
}
.cl-iframe iframe{
    position: relative;
    height:600px;
    width:900px;
    visibility: hidden;
    border: none;
}

